*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:active,
:hover,
:focus {
  outline: 0 !important;
  outline-offset: 0;
}

a,
a:hover {
  text-decoration: none;
}

a:hover {
  color: var(--primary-color) !important;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

/*===== Variables Defined =====*/
:root {
  --primary-color: #b15642;
  --secondary-color: #545e45;
  --tertiary-color: #fffd37;
  --white-color: #fdfff8;
  --text-color: #9e9999;
  --black-color: #000;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  font-size: 100%;
  font-weight: 400;
}

/*
=========================================
    Custom Scrollbar
=========================================
*/

::-webkit-scrollbar {
  width: 0.625rem;
}

::-webkit-scrollbar-track {
  background: var(--white-color);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

/*
==========================================
   Custom CSS Design
==========================================
*/

h1 {
  font-size: 3.25rem;
  font-weight: 900;
  margin-bottom: 1rem;
  color: var(--primary-color);
}

h1 span {
  color: var(--white-color);
}

h2 {
  font-weight: 700;
  position: relative;
  font-size: 2.1875rem;
  text-transform: capitalize;
  color: var(--black-color);
  line-height: 3.7rem;
}

h2:before {
  background: var(--tertiary-color);
  border-radius: 0.3125rem;
  content: "";
  position: absolute;
  top: -1.5625rem;
  left: 0;
  width: 1.875rem;
  height: 0.3125rem;
}

h4 {
  color: var(--black-color);
  text-transform: capitalize;
  font-size: 1.25rem;
  font-weight: 900;
  margin-bottom: 0.9375rem;
  transition: all 0.3s linear;
}

h5 {
  color: var(--black-color);
  text-transform: capitalize;
  font-family: var(--primary-color);
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

p {
  font-size: 1.125rem;
  color: var(--text-color);
  font-weight: 600;
  line-height: 1.75rem;
  letter-spacing: 0.0625rem;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.wrapper {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}

.text-content {
  width: 60%;
  margin: auto;
}

/*
==========================================
   Header Design
==========================================
*/
.navigation-wrap {
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 1000;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background: rgba(0, 0, 0, 0.1); /* 10% opaque black */
}
.navigation-wrap .nav-item {
  padding: 0 0.5rem;
  transition: all 200ms linear;
}
.navbar-toggler:focus {
  outline: none;
  border: unset;
  box-shadow: none;
}

.navbar-logo {
  padding-top: 12px;
}
.nav-link {
  padding-top: 0.9375rem;
  font-size: 0.9375rem;
  font-weight: 400;
  text-transform: capitalize;
  color: var(--white-color);
  letter-spacing: 0.0625rem;
}
.nav-link:hover,
.nav-link.active {
  color: var(--tertiary-color);
  font-weight: 900;
}
.navigation-wrap .main-btn {
  color: var(--white-color);
  margin: auto;
}
.navigation-wrap .main-btn:hover {
  background-color: transparent;
}
.navigation-wrap .main-btn::before,
.navigation-wrap .main-btn::after {
  background-color: transparent;
}
/* Change navbar styling on scroll */
.navigation-wrap.scroll-on {
  position: fixed;
  background-color: var(--black-color);
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 0.125rem 1.75rem 0 rgba(0, 0, 0, 0.09);
  transition: all 0.15s ease-in-out 0s;
}
.navigation-wrap.scroll-on .nav-link:hover,
.navigation-wrap.scroll-on .nav-link.active {
  color: var(--tertiary-color);
}

/*
==========================================
   Top-banner
==========================================
*/
.hero_slider .carousel-caption {
  text-align: left;
  top: 50%;
  left: 50%;
  transform: translate(-75%, -35%);
}
.hero_slider .carousel-caption h2 {
  color: var(--white-color);
}
.hero_slider .carousel-caption p {
  color: var(--white-color);
}
.hero_slider .carousel-item img {
  height: 100%; /* Bootstrap handles width already */
  object-fit: cover; /* or 'contain' if you want stretch instead of crop */
}

/*
==========================================
 About section
==========================================
*/

/*
==========================================
 Photos section
==========================================
*/

/*
==========================================
 Features section
==========================================
*/

/*
==========================================
Contact section
==========================================
*/
